<div class="total_container">

  <div class="navigation_custom"> 
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 col-xs-12">
          <div class="row">
            <div class="logo">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844215/landing page adaptive/graph.png">
              <p id="logo_head_title">Motion</p>
              <p id="logo_head_text">Asingle&nbsp;Page&nbsp;Template</p>
            </div>
          </div>
        </div>
        <div class="col-sm-1 col-sm-offset-3 col-xs-12">
          <ul class="nav nav-pills">
            <li role="presentation">
              <a href="#">Home</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-xs-12">
          <ul class="nav nav-pills">
            <li role="presentation">
              <a href="#">About</a>
            </li>
            <li role="presentation">
              <a href="#">Team</a>
            </li>
            <li role="presentation" class="active">
              <a href="#">Portfolio</a>
            </li>
            <li role="presentation">
              <a href="#">Other</a>
            </li>
            <li role="presentation">
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!-- ======================================================= -->

  <div class="welcome_block">
    <div class="welcome_title">
          <h2>Welcome to Motion</h2>
            Asmart &amp; Creative Single Page Template
        </div>
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844217/landing page adaptive/PUT_YOUR_DESIGN_HERE.png" alt="image">
          <div class="carousel-caption">
          
          </div>
        </div>
        <div class="item">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844217/landing page adaptive/safari.png" alt="image">
          <div class="carousel-caption">
            
          </div>
        </div>
        <div class="item">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/Layer5.png" alt="image">
          <div class="carousel-caption">
            
          </div>
        </div>
        <div class="item">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844217/landing page adaptive/stuff.png" alt="image">
          <div class="carousel-caption">
            
          </div>
        </div>
        
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

<!-- ======================================================= -->
  <div class="smart_creative">
    <div class="title"> 
      <h2>Smart &amp; Creative</h2>
      This is why you will use it :)
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4 col-xs-12">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/Rounded.png">
          <h2>Multi purpose</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing..
        </div>
        <div class="col-sm-4 col-xs-12">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844215/landing page adaptive/Layer2.png">
          <h2>Flat UI</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing..
        </div>
        <div class="col-sm-4 col-xs-12">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844215/landing page adaptive/Cloud_base.png">
          <h2>Creative Design</h2>
            Lorem ipsum dolor sit amet, consectetur adipisicing..
        </div>
      </div>
    </div>
  </div>
<!-- ======================================================= -->
  <div class="our_team">
    <div class="title"> 
      <h2>Talented &amp; Experts</h2>
      <p> This is our team :) </p>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844215/landing page adaptive/Highlight.png">
          <h2>Abd ElRahman</h2>
            Senior UI Designer
        </div>
        <div class="col-sm-3 col-xs-12">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/Highlight2.png">
          <h2>Mahmoud Baghagho</h2>
            Senior App Developer
        </div>
        <div class="col-sm-3 col-xs-12">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844215/landing page adaptive/Highlight3.png">
          <h2>Mostafa Amin</h2>
            Senior Graphic Designer
        </div>
        <div class="col-sm-3 col-xs-12">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844215/landing page adaptive/Highlight4.png">
          <h2>Ahmed Ali</h2>
            Senior Web Developer
        </div>
      </div>
    </div>
  </div>
<!-- ================================================= -->
  <div class="carousel_multiple">
    <h1>Elegant &amp; Genuine</h1>
    This is how our works looks like :)
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="carousel slide multi-item-carousel" id="theCarousel">
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-sm-4 col-xs-4"><a href="#1"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844215/landing page adaptive/Layer6.png" class="img-responsive"><p>SMS Clouds</p></a></div>
                <div class="col-sm-4 col-xs-4"><a href="#1"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/Layer7.png" class="img-responsive"><p>Blue Apple Soft</p></a></div>
                <div class="col-sm-4 col-xs-4"><a href="#1"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/Layer8.png" class="img-responsive"><p>Together Application</p></a></div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-sm-4 col-xs-4"><a href="#1"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/Layer7.png" class="img-responsive"><p>Blue Apple Soft</p></a></div>
                <div class="col-sm-4 col-xs-4"><a href="#1"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/Layer8.png" class="img-responsive"><p>Together Application</p></a></div>
                <div class="col-sm-4 col-xs-4"><a href="#1"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/Layer10.png" class="img-responsive"><p>FCBarcelona Club</p></a></div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-sm-4 col-xs-4"><a href="#1"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/Layer8.png" class="img-responsive"><p>Together Application</p></a></div>
                <div class="col-sm-4 col-xs-4"><a href="#1"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/Layer10.png" class="img-responsive"><p>FCBarcelona Club</p></a></div>
                <div class="col-sm-4 col-xs-4"><a href="#1"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844215/landing page adaptive/Layer6.png" class="img-responsive"><p>SMS Clouds</p></a></div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-sm-4 col-xs-4"><a href="#1"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/Layer10.png" class="img-responsive"><p>FCBarcelona Club</p></a></div>
                <div class="col-sm-4 col-xs-4"><a href="#1"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844215/landing page adaptive/Layer6.png" class="img-responsive"><p>SMS Clouds</p></a></div>
                <div class="col-sm-4 col-xs-4"><a href="#1"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/Layer7.png" class="img-responsive"><p>Blue Apple Soft</p></a></div>
              </div>
            </div>
            
            <!--  Example item end -->
          </div>
          <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
<!-- ======================================================= -->
  <div class="pricingTableContainer">
    <div class="container-fluid">
     <div class="row">

       <div class="col-sm-4 col-xs-12">
         <div class="pricingTable">
           <div class="pricingTable-top">
            <span class="price-value-top">Start Up</span>
            <span class="price-period-top">For beginners</span>
           </div>

           <div class="pricingContent">
             <ul>
               <li><b>Basic pages</b></li>
               <li><b>MySQL Databases</b></li>
               <li><b>Bandwith</b></li>
               <li><b>Storage space</b></li>
             </ul>
           </div>

           <div class="pricingTable-sign-up">
            <span class="price-period">&euro;</span>
            <span class="price-value">15</span>
            <span class="price-period">/mo</span>
            <a href="#" class="btn btn-block btn-default">Order</a>
           </div>
         </div>
       </div>

       <div class="col-sm-4 col-xs-12">
         <div class="pricingTable">
           <div class="pricingTable-top-middle">
            <span class="price-value-top">Standard</span>
            <span class="price-period-top">More that what you have dreamed with</span>
           </div>

           <div class="pricingContent">
             <ul>
               <li><b>Standard pages</b></li>
               <li><b>MySQL Databases</b></li>
               <li><b>Bandwith</b></li>
               <li><b>Storage space</b></li>
             </ul>
           </div>

           <div class="pricingTable-sign-up-middle">
            <span class="price-period">&euro;</span>
            <span class="price-value">25</span>
            <span class="price-period">/mo</span>
            <a href="#" class="btn btn-block btn-default">Order</a>
           </div>
         </div>
       </div>

       <div class="col-sm-4 col-xs-12">
         <div class="pricingTable">
           <div class="pricingTable-top">
            <span class="price-value-top">Professional</span>
            <span class="price-period-top">For smart people</span>
           </div>

           <div class="pricingContent">
             <ul>
               <li><b>Professional pages</b></li>
               <li><b>MySQL Databases</b></li>
               <li><b>Bandwith</b></li>
               <li><b>Storage space</b></li>
             </ul>
           </div>

           <div class="pricingTable-sign-up">
            <span class="price-period">&euro;</span>
            <span class="price-value">35</span>
            <span class="price-period">/mo</span>
            <a href="#" class="btn btn-block btn-default">Order</a>
           </div>
         </div>
       </div>

     </div><!-- ./row -->
    </div> <!-- ./container-fluid -->
    <div class="row"></div>
      <div class="col-sm-12 col-xs-12">
        And more available plans for all needs .... Check here
      </div>
  </div> <!-- ./container -->
<!-- ======================================================= -->
  <div class="latest_tweets">

    <div class="carousel slide" data-ride="carousel"  id="second-carousel-example-generic">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#second-carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#second-carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#second-carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="welcome_title">
            <h2>Welcome to Motion</h2>
              Asmart &amp; Creative Single Page Template
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844217/landing page adaptive/twitter_icon.png" class="img-responsive">
             <i><span class="black_text">@ Abd-Alrahaman Elgazzar</span>  Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here http://t.co/zfdgfdg<span class="black_text">http://t.co/zfdgfdg</span></i>   
          </div>
          <div class="carousel-caption"></div>
        </div>

        <div class="item">
          <div class="welcome_title">
            <h2>Motion</h2>
              Asmart &amp; Creative Single Page Template
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844217/landing page adaptive/twitter_icon.png" class="img-responsive">
             <i><span class="black_text">@ Abd-Alrahaman Elgazzar</span>  Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here http://t.co/zfdgfdg<span class="black_text">http://t.co/zfdgfdg</span></i>  
          </div>
          <div class="carousel-caption"></div>
        </div>

        <div class="item">
          <div class="welcome_title">
            <h2>Welcome</h2>
              Asmart &amp; Creative Single Page Template
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844217/landing page adaptive/twitter_icon.png" class="img-responsive">
            <i><span class="black_text">@ Abd-Alrahaman Elgazzar</span>  Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here http://t.co/zfdgfdg<span class="black_text">http://t.co/zfdgfdg</span></i> 
          </div>
          <div class="carousel-caption"></div>
        </div>

        <div class="item">
          <div class="welcome_title">
            <h2>WelcomeMotion</h2>
            Asmart &amp; Creative Single Page Template
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844217/landing page adaptive/twitter_icon.png" class="img-responsive">
             <i><span class="black_text">@ Abd-Alrahaman Elgazzar</span>  Great work Abd-Alrahaman , I really love the application  ... hope you haveall the luck in ur life ..  also have alook here http://t.co/zfdgfdg<span class="black_text">http://t.co/zfdgfdg</span></i> 
          </div>
          <div class="carousel-caption"></div>
        </div>
        
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#second-carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#second-carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
<!-- ======================================================= -->
  <div class="comunications">
    <span class="white_text">&copy; 2013</span>
     Motion Template. 
    <span class="white_text">Design by Begha</span>

      <div class="header_communic">
        <a href="#">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844215/landing page adaptive/fb.png" alt="facebook" title="facebook">
        </a>
        <a href="#">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844217/landing page adaptive/tw.png" alt="twitter" title="twitter">
        </a>
        <a href="#">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844217/landing page adaptive/you.png" alt="youtube" title="youtube">
        </a>
        <a href="#">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844216/landing page adaptive/pint.png" alt="pinterest" title="pinterest">
        </a>
        <a href="#">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514844215/landing page adaptive/insta.png" alt="instagram" title="instagram">
        </a>
      </div>
  </div>
<!-- ======================================================= -->
  <div class="map">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=t8kc6t_JWDLlhj8MT4SXrXh-yvvxB59a&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
  </div>
<!-- ======================================================= -->

  
<!-- ======================================================= -->
</div>