<div class="container">
  <div class="row">
    <header>
      <a href="#">
        <div class="header">
          <div class="header_text">LOGOPLACE</div>
          <div class="header_small_text">TAGLINE HERE</div>
        </div>
      </a>
      <div class="menu-button">
        <a href="#"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
      </div>
    </header>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="text">
              <div class="green_square"></div>
              <div class="title_text">Lorem ipsum dolor</div>
              <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto.</p>
              <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum.</p> 
              <button class="btn btn-1 btn-1e">READ MORE</button>
            </div>
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/moon.png" alt="moon" class="moon">
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing%20page/shadow.png" alt="shadow" class="shadow">
            <div class="carousel-caption"></div>
          </div>
          <div class="item">
            <div class="text">
              <div class="green_square"></div>
              <div class="title_text">Lorem ipsum dolor</div>
              <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto.</p>
              <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum.</p> 
              <button class="btn btn-1 btn-1e">READ MORE</button>
            </div>
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/moon.png" alt="moon" class="moon">
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing%20page/shadow.png" alt="shadow" class="shadow">
            <div class="carousel-caption"></div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <div class="arrows"><</div>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <div class="arrows">></div>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 voluptatem">
      <div class="text">
        <div class="green_square"></div>
        <div class="title_text">voluptatem accusantium</div>
        <div class="title_text_lower">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.</div>
        <div class="images">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/planet.png" alt="planet" class="planet">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/frame.png" alt="frame" class="frame">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-6 text_column">
          <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt.</p>
        </div>
        <div class="col-sm-6 col-xs-6 text_column">
          <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? [33] At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupt.</p>
        </div>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 asperiores_repellat">
      <div class="text">
        <div class="green_square"></div>
        <div class="title_text">asperiores repellat</div>
        <div class="title_text_lower">Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus</div>
        <div class="images">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/frame_rounded.png" alt="frame_rounded" class="frame_rounded">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/frame_rounded.png" alt="frame_rounded" class="frame_rounded">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/frame_rounded.png" alt="frame_rounded" class="frame_rounded">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/frame_horizontal.png" alt="frame_horizontal" class="frame_horizontal">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-xs-4 text_column">
          <div class="title_text">25</div>
          <div class="title_text_lower">days</div>
          <center><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></center>
          <div class="header_in_column">
            Et harum quidem rerum facilis
          </div>
          <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit</p>
        </div>
        <div class="col-sm-4 col-xs-4 text_column">
          <div class="title_text text_27px">350 000</div>
          <div class="title_text_lower">peoples</div>
          <center><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></center>
          <div class="header_in_column">
            Et harum quidem rerum facilis
          </div>
          <p>Quis autem vel eum iure reprehenderit, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?</p>
        </div>
        <div class="col-sm-4 col-xs-4 text_column">
          <div class="title_text">30</div>
          <div class="title_text_lower">percent</div>
          <center><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></center>
          <div class="header_in_column">
            Et harum quidem rerum facilis
          </div>
          <p>Oiosam, nisi ut aliquid ex ea com<br> modi consequatur?<br>  Quis autem vel eum iure reprehenderit, quis nostrum exercita tionem ullam cor.</p>
        </div>
      </div>
      <div class="middle_position">
        <button class="btn btn-1 btn-1e">LEARN MORE</button>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 at_vero">
      <div class="text">
        <div class="green_square"></div>
        <div class="title_text"> At vero eos et accusamus</div>
        <div class="title_text_lower">Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat.</div>
        <div class="row">
          <div class="col-sm-2 col-xs-2">
            <div class="images">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/circle.png" alt="circle" class="circle">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/lightning.png" alt="lightning" class="another">
            </div>
            <div class="text_column">
              <div class="header_in_column">
                Et harum quidem rerum facilis
              </div>
              <p>Et harum quidem rerum facilis est et expedita distinctio</p>
            </div>
          </div>
          <div class="col-sm-2 col-xs-2">
            <div class="images">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/circle.png" alt="circle" class="circle">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/download.png" alt="download" class="another">
            </div>
            <div class="text_column">
              <div class="header_in_column">
                Et harum quidem rerum facilis
              </div>
              <p>Et harum quidem rerum facilis est et expedita distinctio</p>
            </div>
          </div>
          <div class="col-sm-2 col-xs-2">
            <div class="images">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/circle.png" alt="circle" class="circle">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/mark.png" alt="mark" class="another">
            </div>
            <div class="text_column">
              <div class="header_in_column">
                Et harum quidem rerum facilis
              </div>
              <p>Et harum quidem rerum facilis est et expedita distinctio</p>
            </div>
          </div>
          <div class="col-sm-2 col-xs-2">
            <div class="images">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/circle.png" alt="circle" class="circle">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/graduate.png" alt="graduate" class="another">
            </div>
            <div class="text_column">
              <div class="header_in_column">
                Et harum quidem rerum facilis
              </div>
              <p>Et harum quidem rerum facilis est et expedita distinctio</p>
            </div>
          </div>
          <div class="col-sm-2 col-xs-2">
            <div class="images">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/circle.png" alt="circle" class="circle">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/fix.png" alt="fix" class="another">
            </div>
            <div class="text_column">
              <div class="header_in_column">
                Et harum quidem rerum facilis
              </div>
              <p>Et harum quidem rerum facilis est et expedita distinctio</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 et_harum">
      <div class="text">
        <div class="green_square"></div>
        <div class="title_text"> Et harum quidem</div>
        <div class="title_text_lower">Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat.</div>
      </div>
      <div class="col-sm-12 col-xs-12">
        <div class="middle_position">
          <button class="ut_enim_ad" id="superbutton">hide the div</button>
          <button class="ut_enim_ad" id="superbutton2">hide the div</button>
        </div>       
        <div class="images">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/full_solar_system.png" alt="full_solar_system" class="full_solar_system" id="this_id">
          <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/full_solar_system.png" alt="full_solar_system" class="full_solar_system" id="that_id">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 lorem_impsum">
      <div class="images">
        <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/magicien.png" alt="magicien" class="magicien" id="this_id">
      </div>
      <div class="text">
        <div class="green_square"></div>
        <div class="title_text">Lorem ipsum dolor sit</div>
        <div class="title_text_lower">Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo</div>
      </div>
      <div class="middle_position">
        <button class="btn btn-1 btn-1e">LEARN MORE</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12 nostrum">
      <div class="text">
        <div class="green_square"></div>
        <div class="title_text">Lorem ipsum dolor sit</div>
        <div class="title_text_lower">Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo</div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-xs-6 nostrum_picture">
          <div class="images">
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/picture.png" alt="picture" class="picture">
          </div>
        </div>
        <div class="col-sm-6 col-xs-6 nostrum_text">
          <div class="text">
            <div class="title_text">laboriosam, nisi ut aliquid ex ea commodi </div>
            <div class="title_text_lower">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
          </div>
            <button class="btn btn-1 btn-1e">LEARN MORE</button>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6 col-xs-6 nostrum_text">
          <div class="text">
            <div class="title_text">laboriosam, nisi ut aliquid ex ea commodi </div>
            <div class="title_text_lower">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
          </div>
            <button class="btn btn-1 btn-1e">LEARN MORE</button>
        </div>
        <div class="col-sm-6 col-xs-6 nostrum_picture">
          <div class="images">
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/picture.png" alt="picture" class="picture">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6 col-xs-6 nostrum_picture">
          <div class="images">
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/picture.png" alt="picture" class="picture">
          </div>
        </div>
        <div class="col-sm-6 col-xs-6 nostrum_text">
          <div class="text">
            <div class="title_text">laboriosam, nisi ut aliquid ex ea commodi </div>
            <div class="title_text_lower">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
          </div>
            <button class="btn btn-1 btn-1e">LEARN MORE</button>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6 col-xs-6 nostrum_text">
          <div class="text">
            <div class="title_text">laboriosam, nisi ut aliquid ex ea commodi </div>
            <div class="title_text_lower">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
          </div>
            <button class="btn btn-1 btn-1e">LEARN MORE</button>
        </div>
        <div class="col-sm-6 col-xs-6 nostrum_picture">
          <div class="images">
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/picture.png" alt="picture" class="picture">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-6 col-xs-6 nostrum_picture">
          <div class="images">
            <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/picture.png" alt="picture" class="picture">
          </div>
        </div>
        <div class="col-sm-6 col-xs-6 nostrum_text">
          <div class="text">
            <div class="title_text">laboriosam, nisi ut aliquid ex ea commodi </div>
            <div class="title_text_lower">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
          </div>
            <button class="btn btn-1 btn-1e">LEARN MORE</button>
        </div>
      </div>

      <div class="middle_position">
        <button class="btn btn-1 btn-1e">ALL PROJECTS</button>
      </div>

  </div>
  <div class="row">
    <div class="col-sm-12 col-xs-12 molestias">
      <div class="text">
        <div class="green_square"></div>
        <div class="title_text">molestias excepturi</div>
      </div>

      <div class="molestias_content">
        <div class="row">

          <div class="col-sm-6 col-xs-6">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/circle.png" alt="circle">
                  <img class="media-object windmill" src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836170/landing page/windmill.png" alt="windmill">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">perferendis</h4>
                <p>
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime. placeat.facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                <a href="#">quod maximeеtime</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xs-6">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/circle.png" alt="circle">
                  <img class="media-object windmill" src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836170/landing page/windmill.png" alt="windmill">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">perferendis</h4>
                <p>
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime. placeat.facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                <a href="#">quod maximeеtime</a>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col-sm-6 col-xs-6">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/circle.png" alt="circle">
                  <img class="media-object windmill" src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836170/landing page/windmill.png" alt="windmill">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">perferendis</h4>
                <p>
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime. placeat.facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                <a href="#">quod maximeеtime</a>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xs-6">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/circle.png" alt="circle">
                  <img class="media-object windmill" src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836170/landing page/windmill.png" alt="windmill">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">perferendis</h4>
                <p>
                Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime. placeat.facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                <a href="#">quod maximeеtime</a>
              </div>
            </div>
          </div>

        </div>
        
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12 perferendis">
      <div class="text">
        <div class="green_square"></div>
        <div class="title_text">perferendis</div>
      </div>

      <div class="perferendis_content">
        <div class="row">
          <div class="col-sm-6 col-xs-6 nostrum_picture">
            <div class="images">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/picture.png" alt="picture" class="picture img-responsive">
            </div>
          </div>
          <div class="col-sm-6 col-xs-6 nostrum_text">
            <div class="text">
              <div class="title_text">exercitationem</div>
              <div class="title_text_lower">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </div>
              <button class="btn btn-1 btn-1e">LEARN MORE</button>
          </div>
        </div>
      </div>


      <div class="perferendis_content">
        <div class="row">
          <div class="col-sm-6 col-xs-6 nostrum_picture">
            <div class="images">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/picture.png" alt="picture" class="picture img-responsive">
            </div>
          </div>
          <div class="col-sm-6 col-xs-6 nostrum_text">
            <div class="text">
              <div class="title_text">exercitationem</div>
              <div class="title_text_lower">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </div>
              <button class="btn btn-1 btn-1e">LEARN MORE</button>
          </div>
        </div>
      </div>


      <div class="perferendis_content">
        <div class="row">
          <div class="col-sm-6 col-xs-6 nostrum_picture">
            <div class="images">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/picture.png" alt="picture" class="picture img-responsive">
            </div>
          </div>
          <div class="col-sm-6 col-xs-6 nostrum_text">
            <div class="text">
              <div class="title_text">exercitationem</div>
              <div class="title_text_lower">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </div>
              <button class="btn btn-1 btn-1e">LEARN MORE</button>
          </div>
        </div>
      </div>


      <div class="perferendis_content">
        <div class="row">
          <div class="col-sm-6 col-xs-6 nostrum_picture">
            <div class="images">
              <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836169/landing page/picture.png" alt="picture" class="picture img-responsive">
            </div>
          </div>
          <div class="col-sm-6 col-xs-6 nostrum_text">
            <div class="text">
              <div class="title_text">exercitationem</div>
              <div class="title_text_lower">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </div>
              <button class="btn btn-1 btn-1e">LEARN MORE</button>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12 navigation">
      <ul>
        <li><a href="#">ABOUT COMPANY</a></li>
        <li><a href="#">CATALOG</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">NEWS</a></li>
        <li><a href="#">CONTACTS</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12 communications">
      <div class="text">
        <div class="title_text_lower">
          <p>(+38) 063 022 05 64</p>
          <p>Hope street 56</p>
          <p>info@lorem.com</p>
          <p>analitik@lorem.com</p>
          <p>director@slorem.com</p>
        </div>
      </div>
      <div class="images">
        <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/fb.png" alt="fb" class="fb">
        <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836170/landing page/yo.png" alt="youtube" class="yo">
        <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1514836168/landing page/g.png" alt="g+" class="g+">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-xs-12 copyright">
      <div class="copyright_content">
        <div class="left_text">2017 &copy; lorem</div>
        <div class="right_text">Website creation - iFish Studio</div>
      </div>
    </div>
  </div>

</div>