<div class="bg_filter">
  <img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1518216381/visit_page/rectangle-3_2x.png" class="img-responsive center-block" alt="Responsive image">
</div>

<div class="container-fluid">
  <div class="row">
    <div class="navigation">
      <ul>
        <li class="menu">
          <a href="#">
            <div class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></div>
            <div class="menu-text">MENU</div>
          </a>
        </li>
        <li class="logo"><a href="#"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1518216381/visit_page/logo-2_2x.png" class="img-responsive center-block" alt="Responsive image"></a></li>
        <li class="text"><a href="#">г. Москва, Цветной бульвар, д. 32, к. 4</a></li>
        <li class="text"><a href="#">Документы</a></li>
        <li class="text number"><a href="#">+7 (495) 966-07-66</a></li>
        <li class="text"><a href="#">Заказать звонок</a></li>
        <li class="earphone shake-slow"><a href="#"><span class="glyphicon glyphicon glyphicon-earphone" aria-hidden="true"></span></a></li>
      </ul>
    </div>
    <div class="main_content">
      <div class="sticky">
        <a href="#">
            <div class="sticky_text">+</div>
            <div class="sticky_text">подробнее</div>
        </a>
      </div>
      <p>ИНДИВИДУАЛЬНАЯ</p>
      <p>АРХИТЕКТУРА</p>
      <p>В ЕВРОПЕЙСКОМ СТИЛЕ</p>
    </div>
  </div>
    <div class="navigation_lower">
      <ul>
        <li class="text"><a href="#">ДОМ</a></li>
        <li class="text"><a href="#">АРХИТЕКТУРА</a></li>
        <li class="text"><a href="#">ИНТЕРЬЕР</a></li>
        <li class="text"><a href="#">ПОМЕЩЕНИЯ</a></li>
        <li class="text"><a href="#">КОМАНДА</a></li>
        <li class="lower_logo"><a href="#"><img src="https://res.cloudinary.com/dapc2mxjl/image/upload/v1518216381/visit_page/mr-black_2x.png" class="img-responsive center-block" alt="Responsive image"></a></li>
      </ul>
    </div>
    <div class="communications">
      <ul>
        <li class="text-icons"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></span></a></li>
        <li class="text-icons"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></span></a></li>
      </ul>
    </div>

</div>