// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: "SFUIText-Light";
  src: asset-url('SFUIText-Light.otf') format("truetype"); }
@font-face {
  font-family: "GOTHICB";
  src: asset-url('GOTHICB.TTF') format("truetype"); }
@font-face {
  font-family: "BebasNeue Bold";
  src: asset-url('BebasNeue_Bold.ttf') format("truetype"); }
@font-face {
  font-family: "LatoRegular";
  src: asset-url('LatoRegular.ttf') format("truetype"); }
body {
  margin: 0px; }

.container {
  font-family: "SFUIText-Light";
  color: #000000;
  background-color: #ffffff;
  width: 1170px;
  margin: auto;
  padding: 0;
  /* General button style (reset) */
  /* Button 1 */
  /* Button 1e */ }
  .container .green_square {
    background-color: #65ca58;
    width: 67px;
    height: 7px; }
  .container .title_text {
    font-family: "GOTHICB";
    color: #00888d;
    font-size: 50px;
    font-weight: 700;
    line-height: 2em;
    text-align: left;
    text-transform: uppercase; }
  .container .middle_position {
    text-align: center; }
  .container .voluptatem, .container .asperiores_repellat, .container .at_vero, .container .et_harum, .container .lorem_impsum, .container .nostrum, .container .molestias, .container .perferendis, .container .communications, .container .copyright {
    margin-top: 100px; }
    .container .voluptatem .text_column, .container .asperiores_repellat .text_column, .container .at_vero .text_column, .container .et_harum .text_column, .container .lorem_impsum .text_column, .container .nostrum .text_column, .container .molestias .text_column, .container .perferendis .text_column, .container .communications .text_column, .container .copyright .text_column {
      padding: 0 30px; }
    .container .voluptatem .title_text, .container .asperiores_repellat .title_text, .container .at_vero .title_text, .container .et_harum .title_text, .container .lorem_impsum .title_text, .container .nostrum .title_text, .container .molestias .title_text, .container .perferendis .title_text, .container .communications .title_text, .container .copyright .title_text {
      text-transform: uppercase; }
    .container .voluptatem .title_text_lower, .container .asperiores_repellat .title_text_lower, .container .at_vero .title_text_lower, .container .et_harum .title_text_lower, .container .lorem_impsum .title_text_lower, .container .nostrum .title_text_lower, .container .molestias .title_text_lower, .container .perferendis .title_text_lower, .container .communications .title_text_lower, .container .copyright .title_text_lower {
      font-family: "GOTHICB";
      color: #00888d;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
      text-align: center;
      width: 70%;
      margin-left: 15%; }
    .container .voluptatem .header_in_column, .container .asperiores_repellat .header_in_column, .container .at_vero .header_in_column, .container .et_harum .header_in_column, .container .lorem_impsum .header_in_column, .container .nostrum .header_in_column, .container .molestias .header_in_column, .container .perferendis .header_in_column, .container .communications .header_in_column, .container .copyright .header_in_column {
      font-family: "SFUIText-Light";
      font-size: 15px;
      font-weight: 300;
      line-height: 20px;
      text-align: center;
      text-transform: uppercase; }
    .container .voluptatem .images, .container .asperiores_repellat .images, .container .at_vero .images, .container .et_harum .images, .container .lorem_impsum .images, .container .nostrum .images, .container .molestias .images, .container .perferendis .images, .container .communications .images, .container .copyright .images {
      text-align: left;
      margin-bottom: -10%; }
    .container .voluptatem img, .container .asperiores_repellat img, .container .at_vero img, .container .et_harum img, .container .lorem_impsum img, .container .nostrum img, .container .molestias img, .container .perferendis img, .container .communications img, .container .copyright img {
      position: relative; }
    .container .voluptatem img.frame, .container .asperiores_repellat img.frame, .container .at_vero img.frame, .container .et_harum img.frame, .container .lorem_impsum img.frame, .container .nostrum img.frame, .container .molestias img.frame, .container .perferendis img.frame, .container .communications img.frame, .container .copyright img.frame {
      top: -168px;
      right: 0;
      width: 46%;
      margin-left: 27%; }
    .container .voluptatem img.planet, .container .asperiores_repellat img.planet, .container .at_vero img.planet, .container .et_harum img.planet, .container .lorem_impsum img.planet, .container .nostrum img.planet, .container .molestias img.planet, .container .perferendis img.planet, .container .communications img.planet, .container .copyright img.planet {
      top: 60px;
      right: 0;
      margin-left: 41%;
      width: 18%; }
    .container .voluptatem img.frame_horizontal, .container .asperiores_repellat img.frame_horizontal, .container .at_vero img.frame_horizontal, .container .et_harum img.frame_horizontal, .container .lorem_impsum img.frame_horizontal, .container .nostrum img.frame_horizontal, .container .molestias img.frame_horizontal, .container .perferendis img.frame_horizontal, .container .communications img.frame_horizontal, .container .copyright img.frame_horizontal {
      top: -31px;
      z-index: 0;
      right: 0; }
    .container .voluptatem img.frame_rounded, .container .asperiores_repellat img.frame_rounded, .container .at_vero img.frame_rounded, .container .et_harum img.frame_rounded, .container .lorem_impsum img.frame_rounded, .container .nostrum img.frame_rounded, .container .molestias img.frame_rounded, .container .perferendis img.frame_rounded, .container .communications img.frame_rounded, .container .copyright img.frame_rounded {
      z-index: 1;
      top: 0;
      right: 0;
      width: 25%;
      margin-left: -5%; }
    .container .voluptatem img.frame_rounded:nth-child(1), .container .asperiores_repellat img.frame_rounded:nth-child(1), .container .at_vero img.frame_rounded:nth-child(1), .container .et_harum img.frame_rounded:nth-child(1), .container .lorem_impsum img.frame_rounded:nth-child(1), .container .nostrum img.frame_rounded:nth-child(1), .container .molestias img.frame_rounded:nth-child(1), .container .perferendis img.frame_rounded:nth-child(1), .container .communications img.frame_rounded:nth-child(1), .container .copyright img.frame_rounded:nth-child(1) {
      margin-left: 14%; }
  .container .asperiores_repellat .images, .container .at_vero .images, .container .et_harum .images, .container .lorem_impsum .images, .container .nostrum .images, .container .molestias .images, .container .perferendis .images, .container .communications .images, .container .copyright .images {
    padding: 2% 0;
    overflow: hidden;
    margin-bottom: 1%; }
  .container .asperiores_repellat .text_column, .container .at_vero .text_column, .container .et_harum .text_column, .container .lorem_impsum .text_column, .container .nostrum .text_column, .container .molestias .text_column, .container .perferendis .text_column, .container .communications .text_column, .container .copyright .text_column {
    width: 20%; }
    .container .asperiores_repellat .text_column .glyphicon.glyphicon-triangle-bottom, .container .at_vero .text_column .glyphicon.glyphicon-triangle-bottom, .container .et_harum .text_column .glyphicon.glyphicon-triangle-bottom, .container .lorem_impsum .text_column .glyphicon.glyphicon-triangle-bottom, .container .nostrum .text_column .glyphicon.glyphicon-triangle-bottom, .container .molestias .text_column .glyphicon.glyphicon-triangle-bottom, .container .perferendis .text_column .glyphicon.glyphicon-triangle-bottom, .container .communications .text_column .glyphicon.glyphicon-triangle-bottom, .container .copyright .text_column .glyphicon.glyphicon-triangle-bottom {
      height: 15px;
      margin-top: 60px;
      transform: scale(1, 1.8);
      color: #00888d; }
    .container .asperiores_repellat .text_column .title_text, .container .at_vero .text_column .title_text, .container .et_harum .text_column .title_text, .container .lorem_impsum .text_column .title_text, .container .nostrum .text_column .title_text, .container .molestias .text_column .title_text, .container .perferendis .text_column .title_text, .container .communications .text_column .title_text, .container .copyright .text_column .title_text {
      line-height: 70px;
      margin-top: -210px; }
    .container .asperiores_repellat .text_column .header_in_column, .container .at_vero .text_column .header_in_column, .container .et_harum .text_column .header_in_column, .container .lorem_impsum .text_column .header_in_column, .container .nostrum .text_column .header_in_column, .container .molestias .text_column .header_in_column, .container .perferendis .text_column .header_in_column, .container .communications .text_column .header_in_column, .container .copyright .text_column .header_in_column {
      margin-top: 15px; }
  .container .asperiores_repellat .text_column:nth-child(1), .container .at_vero .text_column:nth-child(1), .container .et_harum .text_column:nth-child(1), .container .lorem_impsum .text_column:nth-child(1), .container .nostrum .text_column:nth-child(1), .container .molestias .text_column:nth-child(1), .container .perferendis .text_column:nth-child(1), .container .communications .text_column:nth-child(1), .container .copyright .text_column:nth-child(1) {
    margin-left: 20%; }
  .container .asperiores_repellat .text_27px, .container .at_vero .text_27px, .container .et_harum .text_27px, .container .lorem_impsum .text_27px, .container .nostrum .text_27px, .container .molestias .text_27px, .container .perferendis .text_27px, .container .communications .text_27px, .container .copyright .text_27px {
    font-size: 27px; }
  .container .navigation {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-left: 30px;
    width: 1170px;
    border-top: 1px #00888d solid;
    border-bottom: 1px #00888d solid; }
    .container .navigation ul {
      margin: 0;
      padding: 0;
      overflow: hidden;
      width: 53%;
      margin: auto; }
    .container .navigation a {
      display: block;
      color: #000000;
      text-align: center;
      padding: 5px;
      text-decoration: none;
      font-family: "SFUIText-Light";
      font-size: 20px;
      font-weight: 300;
      line-height: 40px;
      text-align: center; }
    .container .navigation li {
      list-style-type: none;
      float: left; }
    .container .navigation a:hover {
      background-color: #00888d;
      color: #ffffff; }
  .container .at_vero .col-sm-2.col-xs-2, .container .et_harum .col-sm-2.col-xs-2, .container .lorem_impsum .col-sm-2.col-xs-2, .container .nostrum .col-sm-2.col-xs-2, .container .molestias .col-sm-2.col-xs-2, .container .perferendis .col-sm-2.col-xs-2, .container .communications .col-sm-2.col-xs-2, .container .copyright .col-sm-2.col-xs-2 {
    width: 20%;
    padding: 1%; }
  .container .at_vero .text_column, .container .et_harum .text_column, .container .lorem_impsum .text_column, .container .nostrum .text_column, .container .molestias .text_column, .container .perferendis .text_column, .container .communications .text_column, .container .copyright .text_column {
    width: 100%;
    padding: 20% 2%;
    text-align: center;
    font-family: "SFUIText-Light";
    color: #000000;
    font-weight: 300; }
    .container .at_vero .text_column .header_in_column, .container .et_harum .text_column .header_in_column, .container .lorem_impsum .text_column .header_in_column, .container .nostrum .text_column .header_in_column, .container .molestias .text_column .header_in_column, .container .perferendis .text_column .header_in_column, .container .communications .text_column .header_in_column, .container .copyright .text_column .header_in_column {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px; }
    .container .at_vero .text_column p, .container .et_harum .text_column p, .container .lorem_impsum .text_column p, .container .nostrum .text_column p, .container .molestias .text_column p, .container .perferendis .text_column p, .container .communications .text_column p, .container .copyright .text_column p {
      font-size: 12px;
      line-height: 15px; }
  .container .at_vero .images, .container .et_harum .images, .container .lorem_impsum .images, .container .nostrum .images, .container .molestias .images, .container .perferendis .images, .container .communications .images, .container .copyright .images {
    overflow: visible; }
    .container .at_vero .images img, .container .et_harum .images img, .container .lorem_impsum .images img, .container .nostrum .images img, .container .molestias .images img, .container .perferendis .images img, .container .communications .images img, .container .copyright .images img {
      position: static;
      margin: auto;
      padding: 0;
      display: block; }
    .container .at_vero .images img.another, .container .et_harum .images img.another, .container .lorem_impsum .images img.another, .container .nostrum .images img.another, .container .molestias .images img.another, .container .perferendis .images img.another, .container .communications .images img.another, .container .copyright .images img.another {
      margin-top: -111px; }
  .container .et_harum .images, .container .lorem_impsum .images, .container .nostrum .images, .container .molestias .images, .container .perferendis .images, .container .communications .images, .container .copyright .images {
    min-height: 537px; }
  .container .et_harum .ut_enim_ad, .container .lorem_impsum .ut_enim_ad, .container .nostrum .ut_enim_ad, .container .molestias .ut_enim_ad, .container .perferendis .ut_enim_ad, .container .communications .ut_enim_ad, .container .copyright .ut_enim_ad {
    background-color: #f1f1f1;
    width: 188px;
    height: 50px;
    border: none;
    border-radius: 25px;
    margin: 50px 20px;
    text-transform: uppercase;
    font-family: "GOTHICB";
    color: #00888d;
    font-size: 20px;
    font-weight: 700; }
  .container .et_harum .ut_enim_ad:hover, .container .lorem_impsum .ut_enim_ad:hover, .container .nostrum .ut_enim_ad:hover, .container .molestias .ut_enim_ad:hover, .container .perferendis .ut_enim_ad:hover, .container .communications .ut_enim_ad:hover, .container .copyright .ut_enim_ad:hover, .container .et_harum .ut_enim_ad:disabled, .container .lorem_impsum .ut_enim_ad:disabled, .container .nostrum .ut_enim_ad:disabled, .container .molestias .ut_enim_ad:disabled, .container .perferendis .ut_enim_ad:disabled, .container .communications .ut_enim_ad:disabled, .container .copyright .ut_enim_ad:disabled {
    border: 4px #00888d solid; }
  .container .lorem_impsum, .container .nostrum, .container .molestias, .container .perferendis, .container .communications, .container .copyright {
    min-height: 537px; }
    .container .lorem_impsum .images, .container .nostrum .images, .container .molestias .images, .container .perferendis .images, .container .communications .images, .container .copyright .images {
      min-height: 1px; }
    .container .lorem_impsum .green_square, .container .nostrum .green_square, .container .molestias .green_square, .container .perferendis .green_square, .container .communications .green_square, .container .copyright .green_square {
      position: relative; }
    .container .lorem_impsum img.magicien, .container .nostrum img.magicien, .container .molestias img.magicien, .container .perferendis img.magicien, .container .communications img.magicien, .container .copyright img.magicien {
      margin-bottom: -35%; }
  .container .nostrum .title_text_lower, .container .molestias .title_text_lower, .container .perferendis .title_text_lower, .container .communications .title_text_lower, .container .copyright .title_text_lower {
    margin-bottom: 2em; }
  .container .nostrum .nostrum_text, .container .molestias .nostrum_text, .container .perferendis .nostrum_text, .container .communications .nostrum_text, .container .copyright .nostrum_text {
    min-height: 385px; }
    .container .nostrum .nostrum_text button, .container .molestias .nostrum_text button, .container .perferendis .nostrum_text button, .container .communications .nostrum_text button, .container .copyright .nostrum_text button {
      margin-left: 4%; }
    .container .nostrum .nostrum_text .text, .container .molestias .nostrum_text .text, .container .perferendis .nostrum_text .text, .container .communications .nostrum_text .text, .container .copyright .nostrum_text .text {
      width: 100%;
      margin-left: 2%; }
      .container .nostrum .nostrum_text .text .title_text, .container .molestias .nostrum_text .text .title_text, .container .perferendis .nostrum_text .text .title_text, .container .communications .nostrum_text .text .title_text, .container .copyright .nostrum_text .text .title_text {
        width: 100%;
        margin-left: 2%;
        margin-top: 15%;
        font-size: 25px;
        line-height: 35px;
        text-align: left; }
      .container .nostrum .nostrum_text .text .title_text_lower, .container .molestias .nostrum_text .text .title_text_lower, .container .perferendis .nostrum_text .text .title_text_lower, .container .communications .nostrum_text .text .title_text_lower, .container .copyright .nostrum_text .text .title_text_lower {
        width: 100%;
        margin-left: 2%;
        font-family: "SFUIText-Light";
        color: #000000;
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
        text-align: left;
        margin-bottom: 0.5em; }
  .container .molestias .molestias_content {
    width: 80%;
    margin: 0 auto; }
    .container .molestias .molestias_content .media {
      margin-top: 60px; }
    .container .molestias .molestias_content img.windmill {
      margin: 0 auto;
      margin-top: -120px; }
    .container .molestias .molestias_content .media-left {
      padding-right: 30px; }
    .container .molestias .molestias_content h4.media-heading {
      font-family: "GOTHICB";
      color: #00888d;
      font-size: 20px;
      font-weight: 700;
      line-height: 40px;
      text-align: left;
      text-transform: uppercase;
      border-bottom: #00888d;
      border-bottom-style: solid;
      border-bottom-width: thin;
      width: 70%; }
    .container .molestias .molestias_content p.media-body {
      font-family: "SFUIText-Light";
      color: #000000;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      text-align: left; }
    .container .molestias .molestias_content .media-body a {
      text-decoration: underline !important; }
  .container .perferendis {
    padding: 30px; }
    .container .perferendis .perferendis_content {
      margin: 0 auto;
      width: 80%; }
  .container .text {
    font-family: "SFUIText-Light";
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    padding-left: 11%;
    width: 65%;
    line-height: 2em; }
  .container .communications, .container .copyright {
    margin-top: 50px;
    min-height: 1px; }
    .container .communications .images, .container .copyright .images {
      text-align: center; }
      .container .communications .images img, .container .copyright .images img {
        position: static;
        margin: 10px 37px;
        display: inline;
        border: 4px #00888d solid;
        border-collapse: 9px;
        // border-radius: 100%;
        padding: 30px; }
      .container .communications .images img.fb, .container .copyright .images img.fb {
        padding: 29px 36px; }
  .container .copyright {
    margin-top: 10px;
    padding: 0 30px;
    font-family: "SFUIText-Light";
    color: #000000;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: left;
    min-height: 1px; }
    .container .copyright .copyright_content {
      border-top: 1px #00888d solid;
      padding: 0 10px; }
    .container .copyright .left_text {
      float: left; }
    .container .copyright .right_text {
      float: right; }
  .container header {
    padding: 35px 60px;
    font-family: "BebasNeue Bold";
    color: #00888d;
    font-weight: 400;
    height: 175px; }
    .container header a {
      text-decoration: none;
      color: #00888d; }
    .container header .header {
      float: left; }
      .container header .header .header_text {
        line-height: 1.25em;
        font-size: 50px; }
      .container header .header .header_small_text {
        line-height: 1.25em;
        font-size: 18px;
        letter-spacing: 4px;
        font-weight: 100;
        text-align: center;
        font-family: "LatoRegular"; }
    .container header .menu-button {
      float: right;
      font-size: 50px;
      line-height: 100px; }
    .container header .menu-button a:hover {
      color: #6cd0d4; }
  .container #carousel-example-generic {
    overflow: hidden; }
    .container #carousel-example-generic img {
      z-index: -5; }
    .container #carousel-example-generic .carousel-inner {
      min-height: 550px; }
      .container #carousel-example-generic .carousel-inner .moon {
        position: absolute;
        top: 0px;
        right: 85px; }
      .container #carousel-example-generic .carousel-inner .shadow {
        position: absolute;
        top: -135px;
        right: 0; }
    .container #carousel-example-generic .carousel-indicators li {
      background-color: #6cd0d4;
      border: none; }
    .container #carousel-example-generic .carousel-indicators li.active {
      background-color: #00888d; }
    .container #carousel-example-generic .carousel-control {
      background: none;
      text-shadow: none;
      color: #00888d;
      opacity: 1;
      width: 5%; }
      .container #carousel-example-generic .carousel-control .arrows {
        line-height: 550px;
        transform: scale(1, 1.8); }
    .container #carousel-example-generic .carousel-inner {
      min-height: 550px; }
  .container .btn {
    border: none;
    font-family: "GOTHICB";
    font-size: 15px;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 0px 16px;
    display: inline-block;
    margin: 40px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 32px;
    border-radius: 0;
    z-index: 6; }
  .container .btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .container .btn-1 {
    border: 1px solid #00888d;
    color: #00888d; }
  .container .btn-1e {
    overflow: hidden; }
  .container .btn-1e:after {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #00888d;
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg); }
  .container .btn-1e:hover,
  .container .btn-1e:active {
    color: #ffffff; }
  .container .btn-1e:hover:after {
    height: 260%;
    opacity: 1; }
  .container .btn-1e:active:after {
    height: 400%;
    opacity: 1; }
  .container .voluptatem .green_square, .container .asperiores_repellat .green_square, .container .at_vero .green_square, .container .et_harum .green_square, .container .lorem_impsum .green_square, .container .nostrum .green_square, .container .molestias .green_square, .container .perferendis .green_square, .container .communications .green_square, .container .copyright .green_square {
    margin-left: 47%;
    width: 6%; }
  .container .voluptatem .title_text, .container .asperiores_repellat .title_text, .container .at_vero .title_text, .container .et_harum .title_text, .container .lorem_impsum .title_text, .container .nostrum .title_text, .container .molestias .title_text, .container .perferendis .title_text, .container .communications .title_text, .container .copyright .title_text {
    text-align: center; }
  .container .voluptatem .text, .container .asperiores_repellat .text, .container .at_vero .text, .container .et_harum .text, .container .lorem_impsum .text, .container .nostrum .text, .container .molestias .text, .container .perferendis .text, .container .communications .text, .container .copyright .text {
    text-align: center;
    width: 100%;
    float: none;
    margin: 0;
    padding: 0; }

/*# sourceMappingURL=style.css.map */
