<!DOCTYPE html>
<html lang="ru">
<html class="html">
  <head>
    <meta charset="UTF-8">
<!--     <meta name="robots" content="index, follow">
    <meta name="author" content="htmlhook.ru">
    <meta name="publisher" content="Viktor Klim">
    <meta name="description" content="Создать стопроцентный шаблон HTML5">
    <meta name="keywords" content="100%, шаблон, HTML5">
    <meta name="generator" content="Core CMS"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Color32</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <%= stylesheet_link_tag "visit_page" %>
<!--     <script type="app.js"></script>
 -->    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--     <script src="javascript/app.js"></script>
 -->    <script src="https://use.fontawesome.com/f9b98d1438.js"></script>
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
  </head>
  <body class="body">

    <%= yield %>

  </body>
</html>
